<!DOCTYPE html>
<html lang="en" class="os-win">
<head>
    <link rel="icon" href="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=a6c7eivr8umrp20gkm4s5m4kd-8xeypgdgvcizdctzm0e7ukaca">
    <!-- main css----->
    <link href="stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
    <style>
        .mainContent {
            min-height: 500px;
            box-shadow: 1px 1px 3px #888888;
            background-color: #ffffff;
        }

        .section1 {
            min-height: 480px;
            border: 1px solid #e9e2e2;
            margin: 2%;
        }

        .section2 {
            border: 1px solid #e9e2e2;
            margin: 2%;
            min-height: 480px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=butwuk9519t84n1sehrnvm28e-88a1cukpbdne8xc9d9pgyy4yy-7utshxh7khh3dt6rf9hqkcva9-dh9s2pgf6ghcuifobl7cvitf9-9zqrvq8cfveudp183uj4r7mnn-24o3wkkwwvmwutak3nlw5lx4n-eu8svnpd32wrtwqeuiuomdty0-d3qzdm6v4fwdfvj915pc8j33q-7wkobeym49ay68d7m8s89ll84-b9x9bqassms851tb78g9ejb4l-bl8cw4bd4ob4pwjuq0b91hzgl-6ats6m7xduygfm2ub9thl1xvq&amp;fc=2">
</head>
<body dir="ltr" class="member v2  chrome-v5 chrome-v5-responsive sticky-bg" id="pagekey-nprofile_my_profile">
    <!------------------header----------------->
    <div id="header" class="global-header responsive-header nav-v5-2-header responsive-1 remote-nav" role="banner">
        <div id="top-header">
            <div class="wrapper">
                <div class="header-section first-child">
                    <h2 class="logo-container" tabindex="0">
                        <a href="https://www.linkedin.com/?trk=nav_logo" class="logo" id="in-logo">
                            LinkedIn
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="responsive-nav" id="responsive-nav-scrollable">
            <div class="wrapper">
                <ul class="nav main-nav" role="navigation">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item selected">
                        <a href="javascript:void(0)" class="nav-link">
                            Profile
                        </a>
                        <ul class="sub-nav" id="profile-sub-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    Edit Profile
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Connections
                        </a>
                        <ul class="sub-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    Add Connections
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Delete Connections
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Experience
                        </a>
                        <ul class="sub-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    Add Experience
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Edit Experience
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Delete Experience
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Education
                        </a>
                        <ul class="sub-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    Add Education
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Edit Education
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Delete Education
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Recommendations
                        </a>
                        <ul class="sub-nav" id="interests-sub-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    Give Recommendations
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!------------------BodyContent----------------->

    <div>
        <table style="width: 100%; height: inherit">
            <tr>
                <td style="padding-left: 10%; padding-right: 10%; padding-top: 6.5%">
                    <div class="mainContent">
                        <table width="100%">
                            <tr>
                                <td style="width: 50%">
                                    <div class="section1">
                                        <fieldset style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
                                            <legend>
                                                <label style="font-size: 19pt; color: #c3bbbb">
                                                    User Profile
                                                </label>
                                            </legend>
                                            <div style="margin-top: 3%; margin-left: 3%; margin-right: 3%">
                                                <table width="100%">
                                                    <tr>
                                                        <td>
                                                            <label style="font-size: 18pt; font-weight:bold;">Ashok Mishra</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <label style="font-size: 12pt;"> Seeking Internship /Co-op beginning Summer 2015 DOT NET/JAVA/J2EE Development</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <label style="font-size: 11pt;"> San Jose, California | Computer Software</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <table width="100%">
                                                                <tr>
                                                                    <td style="width: 25%">
                                                                        <label style="font-size: 10pt; color: #c3bbbb"> Previous</label>
                                                                    </td>
                                                                    <td>
                                                                        <label style="font-size: 10pt;"> Larsen & Toubro</label>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 25%; padding-top: 6px;">
                                                                        <label style="font-size: 10pt; color: #c3bbbb"> Education</label>
                                                                    </td>
                                                                    <td>
                                                                        <label style="font-size: 10pt;"> San Jose State University</label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <fieldset style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
                                            <legend>
                                                <label style="font-size: 19pt; color: #c3bbbb">
                                                    Summary
                                                </label>
                                            </legend>
                                            <div style="margin-top: 3%; margin-left: 3%; margin-right: 3%">
                                                <table width="100%">
                                                    <tr>
                                                        <td>
                                                            <p style="font-size: 10pt; color: #373636">
                                                                Software Engineering Graduate student, specializing in Networking Software and Enterprise Software Technologies at San Jose State University. Have 3 years of experience in software application development and maintenance as Software Engineer in Larsen and Toubro Limited.
                                                            </p>

                                                            <p style="font-size: 10pt; color: #373636">Currently seeking Summer Internship opportunities in areas of Software Engineering.</p>

                                                            <p style="font-size: 10pt; color: #373636">Technical Skills:</p>

                                                            <p style="font-size: 10pt; color: #373636">Languages : HTML 4/5, ASP.Net, C#.Net, Javascript, Jquery, Basics in C, C++, Java, Php, Node.js.</p>
                                                            <p style="font-size: 10pt; color: #373636">Database  : SQL Server 2008, SQL Server 2005, Microsoft Access.</p>
                                                            <p style="font-size: 10pt; color: #373636">Tools : MS Office, Lotus notes, VSS,  Perforce, Visio, IIS, Dreamweaver, Visual Studio, Expression Blend 2, SVN.</p>
                                                            <p style="font-size: 10pt; color: #373636">Technologies : Signal R, Web API 2.0, Phonegap, Nancy framework, Express Framework, Cloud Hosting & Services, WCF, XML, CSS, MVC3,  MVC4.</p>

                                                            <p style="font-size: 10pt; color: #373636">Major Strength</p>

                                                            <p style="font-size: 10pt; color: #373636">•	Experienced in Application Development, and Application Maintenance & Support.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Highly organized and good interpersonal and leadership skills.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Strong Client Communication, and project execution skills.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Exposure to Agile methodologies & Scrum.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Quick grasping capability to new systems and technologies.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Excellent analytical, design and problem solving skills.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Great team-worker - adaptable and flexible.</p>
                                                            <p style="font-size: 10pt; color: #373636">•	Results-driven, logical and methodical approach to achieving tasks and objectives.</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <fieldset style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
                                            <legend>
                                                <label style="font-size: 19pt; color: #c3bbbb">
                                                    Additional Information
                                                </label>
                                            </legend>
                                            <div style="margin-top: 3%; margin-left: 3%; margin-right: 3%">
                                                <table width="100%">
                                                    <tr>
                                                        <td>
                                                            <label style="font-size: 14pt; color: #706e6e">Interests</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <label style="font-size: 10pt; color: #969292">Listening songs, Travelling, Playing Badminton, Interacting with people</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <label style="font-size: 14pt; color: #706e6e">Personal Details</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <table width="100%">
                                                                <tr>
                                                                    <td style="width:25%">
                                                                        <label style="font-size: 10pt; color: #c3bbbb">Birthday</label>
                                                                    </td>
                                                                    <td style="width:75%">
                                                                        <label style="font-size: 10pt; color: #969292">05 April 1990</label>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:25%">
                                                                        <label style="font-size: 10pt; color: #c3bbbb">Marital Status</label>
                                                                    </td>
                                                                    <td style="width:75%">
                                                                        <label style="font-size: 10pt; color: #969292">Single</label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <label style="font-size: 14pt; color: #706e6e">Advice for Contacting Ashok</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br />
                                                            <table width="100%">
                                                                <tr>
                                                                    <td>
                                                                        <label style="font-size:10pt; color: #808080">You can contact me on my email or phone number</label>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label style="font-size:10pt; color: #808080">Email - er.ashokmishra@gmail.com</label>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label style="font-size:10pt; color: #808080">Phone - +14088169264</label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                </td>
                                <td style="width: 50%">
                                    <div class="section2">
                                        <fieldset style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
                                            <legend>
                                                <label style="font-size: 19pt; color: #c3bbbb">
                                                    Skills & Endorsements
                                                </label>
                                            </legend>
                                            <div style="margin-top: 3%; margin-left: 5%;">
                                                <table width="100%">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <fieldset style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
                                            <legend>
                                                <label style="font-size: 19pt; color: #c3bbbb">
                                                    Projects
                                                </label>
                                            </legend>
                                            <div style="margin-top: 3%; margin-left: 5%;">
                                                <table width="100%">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <fieldset style="margin-top: 2%; margin-left: 2%; margin-right: 2%">
                                            <legend>
                                                <label style="font-size: 19pt; color: #c3bbbb">
                                                    Following
                                                </label>
                                            </legend>
                                            <div style="margin-top: 3%; margin-left: 5%;">
                                                <table width="100%">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!------------------Footer----------------->

    <footer>
        <div>
            <div>
                <div class="wrapper">
                    <p style="left: 42%; padding-bottom :2%; padding-top: 1%; font-size: 9pt; position:absolute;" id="copyright" class="guest"><span>LinkedIn Corporation</span> <em>&copy; 2015</em></p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
