<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
	    <header id="top" class="header">
	        <div class="text-vertical-center">
	        	<table width="100%">
	        		<tr>
	        			<td align="center">	        				
					        <table class="tblSignIn">
					        	<tr>
					        		<td align="center">
					        			<img style="margin-top: -60px;" src="img/linkedIn_logo.png" alt="" />
					        		</td>
					        	</tr>
					        	<tr>
					        		<td>
					        			<br />
					        		</td>
					        	</tr>
					        	<tr>
					        		<td align="center">
					        			<p class="leadTextbox"><input class="textbox" type="text" placeholder="First Name" id="txtFirstName" name="firstName"></p>
					        		</td>
					        	</tr>
					        	<tr>
					        		<td>
					        			<br />
					        		</td>
					        	</tr>
					        	<tr>
					        		<td align="center">
					        			<p style="margin-top: -30px; font-weight: bold"><input class="textbox" type="text" placeholder="Last Name" id="txtLastName" name="lastName"></p>
					        		</td>
					        	</tr>
					        	<tr>
					        		<td>
					        			<br />
					        		</td>
					        	</tr>
					        	<tr>
					        		<td align="center">
					        			<p style="margin-top: -20px; font-weight: bold"><input class="textbox" type="text" placeholder="Email Address" id="txtEmail" name="email"></p>
					        		</td>
					        	</tr>
					        	<tr>
					        		<td>
					        			<br />
					        		</td>
					        	</tr>
					        	<tr>
					        		<td align="center">
					        			<p style="margin-top: -20px; font-weight: bold"><input class="textbox" type="password" placeholder="Password" id="txtPassword" name="password"></p>
					        		</td>
					        	</tr>
					        	<tr>
					        		<td>
					        			<br />
					        		</td>
					        	</tr>
					        	<tr>
					        		<td align="center">
					        			<a href="#signUp" style="width: 300px" class="btn btn-dark btn-lg ">Sign up</a> 
					        		</td>
					        	</tr>
					        	<tr>
					        		<td>
					        			<br />
					        		</td>
					        	</tr>
					        </table>
	        			</td>
	        		</tr>	        		
	        	</table>
	        </div>
	    </header>    
	
	    <!-- Footer -->
	        <div class="footer">
	        	<label>Copyright &copy; LinkedIn 2014</label>
	        </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>